<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="matiere">
      <h2 data-cy="matiereDetailsHeading"><span>Matiere</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ matiere.id }}</span>
        </dd>
        <dt><span>Nom matiere</span></dt>
        <dd>
          <span>{{ matiere.nommatiere }}</span>
        </dd>
        <dt><span>Coefficient</span></dt>
        <dd>
          <span>{{ matiere.coefficient }}</span>
        </dd>
        <dt><span>Nombre heure</span></dt>
        <dd>
          <span>{{ matiere.nombreheure }}</span>
        </dd>
        <dt><span>Nombre examen</span></dt>
        <dd>
          <span>{{ matiere.nombreexamen }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/matiere', matiere.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
