<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-examen-heading" data-cy="ExamenCreateUpdateHeading">Create or edit a Examen</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numexamen">Num examen</label>
          <input type="number" class="form-control" name="numexamen" id="field_numexamen" data-cy="numexamen" formControlName="numexamen" />
          <div *ngIf="editForm.get('numexamen')!.invalid && (editForm.get('numexamen')!.dirty || editForm.get('numexamen')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('numexamen')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('numexamen')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pourcentage">Pourcentage</label>
          <input
            type="number"
            class="form-control"
            name="pourcentage"
            id="field_pourcentage"
            data-cy="pourcentage"
            formControlName="pourcentage"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_valide">Valide</label>
          <input type="checkbox" class="form-check" name="valide" id="field_valide" data-cy="valide" formControlName="valide" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_duree">Duree</label>
          <input type="number" class="form-control" name="duree" id="field_duree" data-cy="duree" formControlName="duree" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_matiere">Matiere</label>
          <select
            class="form-control"
            id="field_matiere"
            data-cy="matiere"
            name="matiere"
            formControlName="matiere"
            [compareWith]="compareMatiere"
          >
            <option *ngIf="!editForm.get('matiere')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="matiereOption" *ngFor="let matiereOption of matieresSharedCollection">{{ matiereOption.nommatiere }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['matiere'])!.invalid && (editForm.get(['matiere'])!.dirty || editForm.get(['matiere'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['matiere'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_classe">Classe</label>
          <select
            class="form-control"
            id="field_classe"
            data-cy="classe"
            name="classe"
            formControlName="classe"
            [compareWith]="compareClasse"
          >
            <option *ngIf="!editForm.get('classe')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="classeOption" *ngFor="let classeOption of classesSharedCollection">{{ classeOption.nomclasse }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['classe'])!.invalid && (editForm.get(['classe'])!.dirty || editForm.get(['classe'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['classe'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
