<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-classe-heading" data-cy="ClasseCreateUpdateHeading">Create or edit a Classe</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomclasse">Nom classe</label>
          <input type="text" class="form-control" name="nomclasse" id="field_nomclasse" data-cy="nomclasse" formControlName="nomclasse" />
          <div *ngIf="editForm.get('nomclasse')!.invalid && (editForm.get('nomclasse')!.dirty || editForm.get('nomclasse')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nomclasse')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nombreeleves">Nombre eleves</label>
          <input
            type="number"
            class="form-control"
            name="nombreeleves"
            id="field_nombreeleves"
            data-cy="nombreeleves"
            formControlName="nombreeleves"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
