<div>
  <h2 id="page-heading" data-cy="NoteHeading">
    <span>Notes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-note"
        [routerLink]="['/note/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Note </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notes?.length === 0">
    <span>No Notes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="notes && notes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="noteexamen">
            <div class="d-flex">
              <span>Noteexamen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarque">
            <div class="d-flex">
              <span>Remarque</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eleve.id">
            <div class="d-flex">
              <span>Eleve</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="examen.id">
            <div class="d-flex">
              <span>Examen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/note', note.id, 'view']">{{ note.id }}</a>
          </td>
          <td>{{ note.noteexamen }}</td>
          <td>{{ note.remarque }}</td>
          <td>
            <div *ngIf="note.eleve">
              <a [routerLink]="['/eleve', note.eleve.id, 'view']">{{ note.eleve.id }} {{ note.eleve!.nom }} {{ note.eleve!.prenom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.examen">
              <a [routerLink]="['/examen', note.examen.id, 'view']"
                >{{ note.examen.id }} {{ note.examen!.matiere!.nommatiere }} - ordre : {{ note.examen!.numexamen }}</a
              >
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/note', note.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/note', note.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(note)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="notes && notes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
